In [1]:
import pandas as pd
df_open_signal = pd.DataFrame(columns = ['ActiveChoice'])

In [2]:
df_open_signal

Empty DataFrame
Columns: [ActiveChoice]
Index: []

In [6]:
df_open_signal.loc[0] = [1]

In [7]:
df_open_signal

   ActiveChoice
0             1

In [13]:
df_open_signal

   ActiveChoice
0             1

In [14]:
df_open_signal[df_open_signal.ActiveChoice!= 1]

Empty DataFrame
Columns: [ActiveChoice]
Index: []

In [1]:
A = [[1,0,-7], 
     [0,0,-8] , 
     [0,0,9]]

In [8]:
cond = True
for i in range(len(A)):
    for j in range(len(A[i])):
        print(i,j)
        if j >= i:
            continue
        
        if A[i][j] != 0:
            cond = False
            
    print('\n')

0 0
0 1
0 2


1 0
1 1
1 2


2 0
2 1
2 2

In [7]:
cond

True

In [13]:
a = [1,2,3]

In [14]:
a.extend([1,2,3])

In [15]:
a

[1, 2, 3, 1, 2, 3]

In [1]:
import MetaTrader5 as mt5
login = 25088141
password = 'N3W*f%Ts??kF'
server = 'Tickmill-Demo'
path = r'C:\Program Files\MetaTrader 5\terminal64.exe'
mt5.initialize( login = login , password = password, server = server)

True

In [2]:
def market_order(symbol, volume, order_type,comment,magic, **kwargs):
    tick = mt5.symbol_info_tick(symbol)
    order_dict = {'buy': 0, 'sell': 1}
    price_dict = {'buy': tick.ask, 'sell': tick.bid}

    request = {
        "action": mt5.TRADE_ACTION_DEAL,
        "symbol": symbol,
        "volume": volume,
        "type": order_dict[order_type],
        "price": price_dict[order_type],
        "deviation": 2,
        "magic": magic,
        "comment":comment,
        "type_time": mt5.ORDER_TIME_GTC,
        "type_filling": mt5.ORDER_FILLING_IOC,
    }

    order_result = mt5.order_send(request)

    return order_result

In [11]:
od = market_order('AAPL',1.0 ,'buy' , 'sss',3001)

In [13]:
od.comment

'Market closed'

In [7]:
# function to close an order base don ticket id
def close_order(ticket):
    positions = mt5.positions_get()

    for pos in positions:
        tick = mt5.symbol_info_tick(pos.symbol)
        type_dict = {0: 1, 1: 0}  # 0 represents buy, 1 represents sell - inverting order_type to close the position
        price_dict = {0: tick.bid, 1: tick.ask}

        if pos.ticket == ticket:
            request = {
                "action": mt5.TRADE_ACTION_DEAL,
                "position": pos.ticket,
                "symbol": pos.symbol,
                "volume": pos.volume,
                "type": type_dict[pos.type],
                "price": price_dict[pos.type],
                "deviation": 2,
                
                
                "type_time": mt5.ORDER_TIME_GTC,
                "type_filling": mt5.ORDER_FILLING_IOC,
            }

            order_result = mt5.order_send(request)

            return order_result

    return 'Ticket does not exist'

In [10]:
close_order(od.order)

'Ticket does not exist'

In [9]:
od

OrderSendResult(retcode=10009, deal=26649761, order=33544054, volume=0.1, price=1.08438, bid=0.0, ask=0.0, comment='Request executed', request_id=3927976766, retcode_external=0, request=TradeRequest(action=1, magic=3001, order=0, symbol='EURUSD', volume=0.1, price=1.08438, stoplimit=0.0, sl=0.0, tp=0.0, deviation=2, type=0, type_filling=1, type_time=0, expiration=0, comment='sss', position=0, position_by=0))

In [35]:
from datetime import datetime , timedelta
datetime.fromtimestamp(mt5.symbol_info_tick('EURUSD').time)

datetime.datetime(2024, 1, 29, 17, 13, 23)

In [40]:
time1 = (datetime.fromtimestamp(mt5.symbol_info_tick('EURUSD').time) - timedelta(hours=5.5))

In [41]:
def get_gp(x):
    x = str(x)
    sumx = 0
    nos = []
    for i in x:
        nos.append(int(i))
    
    if sum(nos) = max(nos):
        return True
    else

datetime.datetime(2024, 1, 29, 11, 43, 43)

In [21]:
def get_solution(x,y,g):
    sum = 0
    for i in range(x,y+1):
        sum+=i
    return sum - (g)

In [24]:

def is_golden_price(num):
    num_str = str(num)
    digit_sum = sum(int(digit) for digit in num_str)
    highest_digit = max(int(digit) for digit in num_str)
    return digit_sum - highest_digit == highest_digit

def find_next_golden_price(starting_number):
    current_number = starting_number
    while True:
        if is_golden_price(current_number):
            return current_number
        else:
            current_number += 1

In [27]:
x = int(input())
y = int(input())
g = find_next_golden_price(x)
get_solution(x,y, g)

125

In [17]:
next_golden_price

11

In [1]:
import pandas as pd

In [4]:
td = pd.read_csv(r"C:\Users\soura\Downloads\td_kite.csv")

In [9]:
pnl = pd.read_excel(r"C:\Users\soura\Downloads\pnl_kite.xlsx")

In [28]:
pnl  = pnl[pnl.Symbol.str.find("BANKNIFTY") < 0].reset_index(drop=True)

In [23]:
td['trade_date'] = pd.to_datetime((td['trade_date']))

In [29]:
td = td[(td.trade_type == "buy") & (td.symbol.str.find("BANKNIFTY") < 0)].drop_duplicates(subset='symbol').sort_values(by='trade_date').reset_index(drop=True)

In [48]:
pnl

,Symbol,ISIN,Quantity,Buy Value,Sell Value,Realized P&L,Realized P&L Pct.,Previous Closing Price,Open Quantity,Open Quantity Type,Open Value,Unrealized P&L,Unrealized P&L Pct.
0,ABB23OCT4050PE,NaN,750,38250.0000,45750.0000,7500.0,19.6078,0.0,0,NaN,0,0,0.0
1,ABFRL23AUG215CE,NaN,2600,12480.0000,18200.0000,5720.0,45.8333,0.0,0,NaN,0,0,0.0
2,ADANIPORTS23NOV800CE,NaN,2400,50400.0000,56800.0008,6400.0,12.6984,0.0,0,NaN,0,0,0.0
3,AMBUJACEM23AUG510CE,NaN,59400,473760.0252,460439.9910,-13320.0,-2.8116,0.0,0,NaN,0,0,0.0
4,AMBUJACEM23JUL440CE,NaN,1800,9540.0000,10350.0000,810.0,8.4906,0.0,0,NaN,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,ULTRACEMCO23DEC9450CE,NaN,300,47400.0000,48810.0000,1410.0,2.9747,0.0,0,NaN,0,0,0.0
103,ULTRACEMCO23SEP8700CE,NaN,300,46395.0000,29400.0000,-16995.0,-36.6311,0.0,0,NaN,0,0,0.0
104,ULTRACEMCO24FEB9800PE,NaN,300,47400.0000,52284.9999,4885.0,10.3059,0.0,0,NaN,0,0,0.0
105,UPL23SEP650CE,NaN,3900,26130.0000,5265.0000,-20865.0,-79.8507,0.0,0,NaN,0,0,0.0
106,WIPRO23OCT430CE,NaN,9000,60300.0000,33525.0000,-26775.0,-44.4030,0.0,0,NaN,0,0,0.0

In [44]:
td.columns = ["Symbol",'isin', 'trade_date', 'exchange', 'segment', 'series', 'trade_type',
       'auction', 'quantity', 'price', 'trade_id', 'order_id',
       'order_execution_time', 'expiry_date']

In [49]:
td

,Symbol,isin,trade_date,exchange,segment,series,trade_type,auction,quantity,price,trade_id,order_id,order_execution_time,expiry_date
0,BAJAJFINSV23JUL1660CE,NaN,2023-07-19,NSE,FO,NaN,buy,False,500.0,24.50,860649536,2000000141247036,2023-07-19T15:15:18,2023-07-27
1,GRASIM23JUL1840CE,NaN,2023-07-20,NSE,FO,NaN,buy,False,475.0,19.35,975766150,2500000116218309,2023-07-20T15:16:58,2023-07-27
2,GAIL23JUL125CE,NaN,2023-07-25,NSE,FO,NaN,buy,False,9150.0,0.10,975755247,2500000060153103,2023-07-25T12:11:18,2023-07-27
3,GAIL23AUG125CE,NaN,2023-07-25,NSE,FO,NaN,buy,False,9150.0,1.80,975756433,2500000060294312,2023-07-25T12:11:50,2023-08-31
4,AMBUJACEM23JUL440CE,NaN,2023-07-25,NSE,FO,NaN,buy,False,1800.0,5.30,976472528,2500000128953896,2023-07-25T15:21:04,2023-07-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,IGL24FEB430CE,NaN,2024-01-29,NSE,FO,NaN,buy,False,1375.0,13.45,929753589,2300000126336271,2024-01-29T15:16:53,2024-02-29
103,ULTRACEMCO24FEB9800PE,NaN,2024-01-30,NSE,FO,NaN,buy,False,300.0,158.00,929786014,2300000144568716,2024-01-30T15:20:31,2024-02-29
104,NAUKRI24FEB5300CE,NaN,2024-01-31,NSE,FO,NaN,buy,False,450.0,116.00,883653212,2100000151016437,2024-01-31T15:20:01,2024-02-29
105,HDFCLIFE24FEB600CE,NaN,2024-02-01,NSE,FO,NaN,buy,False,1100.0,12.20,952793105,2400000163907323,2024-02-01T15:28:40,2024-02-29
106,NTPC24FEB340CE,NaN,2024-02-02,NSE,FO,NaN,buy,False,9000.0,4.40,884003231,2100000174352046,2024-02-02T15:21:35,2024-02-29

In [52]:
ldf = pd.merge(td , pnl ,on="Symbol")

In [53]:
ldf.columns

Index(['Symbol', 'isin', 'trade_date', 'exchange', 'segment', 'series',
       'trade_type', 'auction', 'quantity', 'price', 'trade_id', 'order_id',
       'order_execution_time', 'expiry_date', 'ISIN', 'Quantity', 'Buy Value',
       'Sell Value', 'Realized P&L', 'Realized P&L Pct.',
       'Previous Closing Price', 'Open Quantity', 'Open Quantity Type',
       'Open Value', 'Unrealized P&L', 'Unrealized P&L Pct.'],
      dtype='object')

In [54]:
ldf

,Symbol,isin,trade_date,exchange,segment,series,trade_type,auction,quantity,price,...,Buy Value,Sell Value,Realized P&L,Realized P&L Pct.,Previous Closing Price,Open Quantity,Open Quantity Type,Open Value,Unrealized P&L,Unrealized P&L Pct.
0,BAJAJFINSV23JUL1660CE,NaN,2023-07-19,NSE,FO,NaN,buy,False,500.0,24.50,...,12250.0000,14000.0000,1750.00,14.2857,0.00,0,NaN,0,0,0.0000
1,GRASIM23JUL1840CE,NaN,2023-07-20,NSE,FO,NaN,buy,False,475.0,19.35,...,9191.2500,2968.7500,-6222.50,-67.7003,0.00,0,NaN,0,0,0.0000
2,GAIL23JUL125CE,NaN,2023-07-25,NSE,FO,NaN,buy,False,9150.0,0.10,...,915.0000,457.5000,-457.50,-50.0000,0.00,0,NaN,0,0,0.0000
3,GAIL23AUG125CE,NaN,2023-07-25,NSE,FO,NaN,buy,False,9150.0,1.80,...,16470.0000,17385.0000,915.00,5.5556,0.00,0,NaN,0,0,0.0000
4,AMBUJACEM23JUL440CE,NaN,2023-07-25,NSE,FO,NaN,buy,False,1800.0,5.30,...,9540.0000,10350.0000,810.00,8.4906,0.00,0,NaN,0,0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,IGL24FEB430CE,NaN,2024-01-29,NSE,FO,NaN,buy,False,1375.0,13.45,...,55618.7486,70537.5000,14918.75,26.8232,0.00,0,NaN,0,0,0.0000
103,ULTRACEMCO24FEB9800PE,NaN,2024-01-30,NSE,FO,NaN,buy,False,300.0,158.00,...,47400.0000,52284.9999,4885.00,10.3059,0.00,0,NaN,0,0,0.0000
104,NAUKRI24FEB5300CE,NaN,2024-01-31,NSE,FO,NaN,buy,False,450.0,116.00,...,52200.0000,71782.5002,19582.50,37.5144,0.00,0,NaN,0,0,0.0000
105,HDFCLIFE24FEB600CE,NaN,2024-02-01,NSE,FO,NaN,buy,False,1100.0,12.20,...,0.0000,0.0000,0.00,0.0000,8.90,3300,buy,40260,-10890,-27.0492
106,NTPC24FEB340CE,NaN,2024-02-02,NSE,FO,NaN,buy,False,9000.0,4.40,...,0.0000,0.0000,0.00,0.0000,4.45,9000,buy,39600,450,1.1364

In [58]:
ldf2 = ldf[['trade_date' , 'Symbol' , "Realized P&L"]].copy()

In [63]:
ldf2  = ldf2[ldf["Realized P&L"] != 0]

In [87]:
ldf2 = ldf2[ldf2.Symbol.str.find('DELTA')<0]

In [97]:
from datetime import datetime

def get_week_of_month(date_string):
    # Convert the date string to a datetime object
    date_object = date_string

    # Calculate the week number within the month
    first_day_of_month = datetime(date_object.year, date_object.month, 1)
    days_in_first_week = (8 - first_day_of_month.weekday()) % 7
    week_number = (date_object.day + days_in_first_week - 1) // 7 + 1

    return week_number

In [98]:
ldf2['WeekDay'] = ldf2['trade_date'].dt.weekday
ldf2['WeekNo'] = ldf2['trade_date'].apply(get_week_of_month)

C:\Users\soura\AppData\Local\Temp\ipykernel_32612\908758235.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ldf2['WeekDay'] = ldf2['trade_date'].dt.weekday
C:\Users\soura\AppData\Local\Temp\ipykernel_32612\908758235.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ldf2['WeekNo'] = ldf2['trade_date'].apply(get_week_of_month)

In [105]:
print(ldf2[ldf2.WeekDay == 4].groupby(by="WeekNo").mean()['Realized P&L'])
print(ldf2[ldf2.WeekDay == 4].groupby(by="WeekNo").count()['trade_date'])

WeekNo
1    2437.500000
2    7263.333333
3   -6523.250000
4    2844.166667
5    3716.000000
Name: Realized P&L, dtype: float64
WeekNo
1    2
2    3
3    5
4    3
5    5
Name: trade_date, dtype: int64

C:\Users\soura\AppData\Local\Temp\ipykernel_32612\843289565.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(ldf2[ldf2.WeekDay == 4].groupby(by="WeekNo").mean()['Realized P&L'])

In [106]:
print(ldf2.groupby(by="WeekNo").mean()['Realized P&L'])
print(ldf2.groupby(by="WeekNo").count()['trade_date'])

WeekNo
1    -4433.636364
2      733.656818
3    -2624.262963
4     2372.380952
5     4984.762500
6    11300.000000
Name: Realized P&L, dtype: float64
WeekNo
1    11
2    22
3    27
4    21
5    20
6     1
Name: trade_date, dtype: int64

C:\Users\soura\AppData\Local\Temp\ipykernel_32612\842618130.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(ldf2.groupby(by="WeekNo").mean()['Realized P&L'])

In [110]:
print(ldf2.groupby(by="WeekDay").mean()['Realized P&L'])
print(ldf2.groupby(by="WeekDay").count()['trade_date'])

WeekDay
0    -795.937500
1   -1623.114583
2    2638.691304
3     959.418000
4    1175.625000
Name: Realized P&L, dtype: float64
WeekDay
0    12
1    24
2    23
3    25
4    18
Name: trade_date, dtype: int64

C:\Users\soura\AppData\Local\Temp\ipykernel_32612\2434914780.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(ldf2.groupby(by="WeekDay").mean()['Realized P&L'])

In [90]:
ldf2.groupby(by="WeekDay").count()

         trade_date  Symbol  Realized P&L  WeekNo
WeekDay
0                12      12            12      12
1                24      24            24      24
2                23      23            23      23
3                25      25            25      25
4                18      18            18      18

In [80]:
ldf2

    trade_date                 Symbol  Realized P&L  WeekDay  WeekNo
0   2023-07-19  BAJAJFINSV23JUL1660CE       1750.00        2       3
1   2023-07-20      GRASIM23JUL1840CE      -6222.50        3       3
2   2023-07-25         GAIL23JUL125CE       -457.50        1       4
3   2023-07-25         GAIL23AUG125CE        915.00        1       4
4   2023-07-25    AMBUJACEM23JUL440CE        810.00        1       4
..         ...                    ...           ...      ...     ...
100 2024-01-23  BAJFINANCE24FEB6800PE       1512.50        1       4
101 2024-01-25     JUBLFOOD24FEB490PE       1750.00        3       4
102 2024-01-29          IGL24FEB430CE      14918.75        0       5
103 2024-01-30  ULTRACEMCO24FEB9800PE       4885.00        1       5
104 2024-01-31      NAUKRI24FEB5300CE      19582.50        2       5

[103 rows x 5 columns]

In [91]:
ldf2['Realized P&L'].sum()

57330.59999999999

In [1]:
import MetaTrader5 as mt5
import pandas as pd

In [2]:
login = 25088141
password = 'N3W*f%Ts??kF'
server = 'Tickmill-Demo'
path = r'C:\Program Files\MetaTrader 5\terminal64.exe'
mt5.initialize( login = login , password = password, server = server)

True

In [3]:
pd.DataFrame(mt5.symbol_info("EURUSD")).transpose()

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
0,False,0,True,True,0,0,0,0,0,0,...,USD,EUR,Tickmill,Euro vs US Dollar,,,,EURUSD,,Forex\EURUSD

In [20]:
dt = mt5.symbol_info("EURUSD")
print(dt.point * 100000)
print(dt.trade_tick_value_profit)
print(dt.trade_tick_value_loss)

1.0
1.0
1.0

In [36]:
import time
while True:
    dt = mt5.symbol_info("USDCAD")
    print(dt.point * 100000)
    print(dt.trade_tick_value_profit)
    print(dt.trade_tick_value_loss)
    time.sleep(2)

1.0
0.7431408103207396
0.7431518556501836
1.0
0.7431352877791402
0.7431463329444202
1.0
0.7431131984335173
0.7431242429421776
1.0
0.7431131984335173
0.7431242429421776
1.0
0.74312976531962
0.7431408103207396
1.0
0.74312976531962
0.7431408103207396
1.0
0.74312976531962
0.7431408103207396
1.0
0.74312976531962
0.7431408103207396
1.0
0.7431187206468106
0.74312976531962
1.0
0.7431242429421776
0.7431352877791402
1.0
0.7431242429421776
0.7431352877791402
1.0
0.7431187206468106
0.74312976531962
1.0
0.7431187206468106
0.74312976531962
1.0
0.7431242429421776
0.7431352877791402
1.0
0.7431352877791402
0.7431463329444202
1.0
0.7431187206468106
0.74312976531962
1.0
0.7431408103207396
0.7431518556501836
1.0
0.7431408103207396
0.7431518556501836
1.0
0.7431352877791402
0.7431463329444202
1.0
0.7431352877791402
0.7431463329444202
1.0
0.7431352877791402
0.7431463329444202
1.0
0.7431352877791402
0.7431463329444202
1.0
0.7431352877791402
0.7431463329444202
1.0
0.7431408103207396
0.7431518556501836
1.0
0.7431408103207396
0.7431518556501836
1.0
0.7431408103207396
0.7431518556501836

KeyboardInterrupt:

In [4]:
dt = mt5.symbol_info("EURUSD")._asdict()
print(1/dt.point)
print(dt.trade_tick_value_profit)
print(dt.trade_tick_value_loss)
print(dt.swap_long)
print(dt.swap_short)

AttributeError: 'dict' object has no attribute 'point'

In [85]:
dt

{'custom': False,
 'chart_mode': 0,
 'select': True,
 'visible': True,
 'session_deals': 0,
 'session_buy_orders': 0,
 'session_sell_orders': 0,
 'volume': 0,
 'volumehigh': 0,
 'volumelow': 0,
 'time': 1707392884,
 'digits': 2,
 'spread': 210,
 'spread_float': True,
 'ticks_bookdepth': 0,
 'trade_calc_mode': 3,
 'trade_mode': 4,
 'start_time': 0,
 'expiration_time': 0,
 'trade_stops_level': 0,
 'trade_freeze_level': 0,
 'trade_exemode': 2,
 'swap_mode': 3,
 'swap_rollover3days': 5,
 'margin_hedged_use_leg': False,
 'expiration_mode': 15,
 'filling_mode': 2,
 'order_mode': 127,
 'order_gtc_mode': 0,
 'option_mode': 0,
 'option_right': 0,
 'bid': 38671.45,
 'bidhigh': 38709.95,
 'bidlow': 38650.95,
 'ask': 38673.55,
 'askhigh': 38712.05,
 'asklow': 38653.05,
 'last': 0.0,
 'lasthigh': 0.0,
 'lastlow': 0.0,
 'volume_real': 0.0,
 'volumehigh_real': 0.0,
 'volumelow_real': 0.0,
 'option_strike': 0.0,
 'point': 0.01,
 'trade_tick_value': 0.01,
 'trade_tick_value_profit': 0.01,
 'trade_tick_value_loss': 0.01,
 'trade_tick_size': 0.01,
 'trade_contract_size': 1.0,
 'trade_accrued_interest': 0.0,
 'trade_face_value': 0.0,
 'trade_liquidity_rate': 0.0,
 'volume_min': 0.01,
 'volume_max': 100.0,
 'volume_step': 0.01,
 'volume_limit': 0.0,
 'swap_long': -7.6899999999999995,
 'swap_short': 2.15,
 'margin_initial': 0.0,
 'margin_maintenance': 0.0,
 'session_volume': 0.0,
 'session_turnover': 0.0,
 'session_interest': 0.0,
 'session_buy_orders_volume': 0.0,
 'session_sell_orders_volume': 0.0,
 'session_open': 38692.97,
 'session_close': 38683.39,
 'session_aw': 0.0,
 'session_price_settlement': 0.0,
 'session_price_limit_min': 0.0,
 'session_price_limit_max': 0.0,
 'margin_hedged': 0.0,
 'price_change': -0.0309,
 'price_volatility': 0.0,
 'price_theoretical': 0.0,
 'price_greeks_delta': 0.0,
 'price_greeks_theta': 0.0,
 'price_greeks_gamma': 0.0,
 'price_greeks_vega': 0.0,
 'price_greeks_rho': 0.0,
 'price_greeks_omega': 0.0,
 'price_sensitivity': 0.0,
 'basis': '',
 'category': '',
 'currency_base': 'USD',
 'currency_profit': 'USD',
 'currency_margin': 'USD',
 'bank': 'Tickmill',
 'description': 'US Wall Street 30 Index',
 'exchange': '',
 'formula': '',
 'isin': '',
 'name': 'US30',
 'page': '',
 'path': 'CFD-2\\US30'}

In [13]:
dt.trade_tick_value_profit

1.0

In [14]:
dt.trade_tick_value_loss

1.0

In [18]:
Symbols = ["EURUSD" , "GBPUSD" , "AUDUSD" , "USDCAD" , "USDJPY" , "US30" ,"US500" , "XTIUSD" , "XAUUSD" ,"XAGUSD"]

In [78]:
dt

SymbolInfo(custom=False, chart_mode=0, select=True, visible=True, session_deals=0, session_buy_orders=0, session_sell_orders=0, volume=0, volumehigh=0, volumelow=0, time=1707391481, digits=3, spread=8, spread_float=True, ticks_bookdepth=0, trade_calc_mode=0, trade_mode=4, start_time=0, expiration_time=0, trade_stops_level=0, trade_freeze_level=0, trade_exemode=2, swap_mode=1, swap_rollover3days=3, margin_hedged_use_leg=False, expiration_mode=15, filling_mode=2, order_mode=127, order_gtc_mode=0, option_mode=0, option_right=0, bid=22.317, bidhigh=22.377, bidlow=22.159, ask=22.325, askhigh=22.387, asklow=22.183, last=0.0, lasthigh=0.0, lastlow=0.0, volume_real=0.0, volumehigh_real=0.0, volumelow_real=0.0, option_strike=0.0, point=0.001, trade_tick_value=5.0, trade_tick_value_profit=5.0, trade_tick_value_loss=5.0, trade_tick_size=0.001, trade_contract_size=5000.0, trade_accrued_interest=0.0, trade_face_value=0.0, trade_liquidity_rate=0.0, volume_min=0.01, volume_max=100.0, volume_step=0.01, volume_limit=0.0, swap_long=-4.49, swap_short=2.62, margin_initial=0.0, margin_maintenance=0.0, session_volume=0.0, session_turnover=0.0, session_interest=0.0, session_buy_orders_volume=0.0, session_sell_orders_volume=0.0, session_open=22.186, session_close=22.198, session_aw=0.0, session_price_settlement=0.0, session_price_limit_min=0.0, session_price_limit_max=0.0, margin_hedged=0.0, price_change=0.5361, price_volatility=0.0, price_theoretical=0.0, price_greeks_delta=0.0, price_greeks_theta=0.0, price_greeks_gamma=0.0, price_greeks_vega=0.0, price_greeks_rho=0.0, price_greeks_omega=0.0, price_sensitivity=0.0, basis='', category='', currency_base='XAG', currency_profit='USD', currency_margin='XAG', bank='Tickmill', description='Silver vs US Dollar ', exchange='', formula='', isin='', name='XAGUSD', page='', path='Forex\\XAGUSD')

In [70]:

pip = pd.DataFrame(columns = ["Symbol" , "QTY" , "PipValueProfit" , "PipValueLoss" , "Commission" , "LongSwap" ,"ShortSwap","swap_rate_mon" , "swap_rate_tue" ,"swap_rate_wed" , "swap_rate_thru" , "swap_rate_fri"])
for sym in Symbols:
    dt = mt5.symbol_info(sym)
    pip.loc[len(pip)] = [sym ,dt.point , dt.trade_tick_value_profit , dt.trade_tick_value_loss ,"Na",dt.swap_long,dt.swap_short ,"Na" ,"Na","Na","Na","Na" ]

In [71]:
pip

,Symbol,QTY,PipValueProfit,PipValueLoss,Commission,LongSwap,ShortSwap,swap_rate_mon,swap_rate_tue,swap_rate_wed,swap_rate_thru,swap_rate_fri
0,EURUSD,0.00001,1.000000,1.000000,Na,-6.17,2.61,Na,Na,Na,Na,Na
1,GBPUSD,0.00001,1.000000,1.000000,Na,-2.42,-0.53,Na,Na,Na,Na,Na
2,AUDUSD,0.00001,1.000000,1.000000,Na,-2.84,1.14,Na,Na,Na,Na,Na
3,USDCAD,0.00001,0.742688,0.742699,Na,0.48,-4.48,Na,Na,Na,Na,Na
4,USDJPY,0.00100,0.672382,0.672382,Na,12.51,-25.41,Na,Na,Na,Na,Na
5,US30,0.01000,0.010000,0.010000,Na,-7.69,2.15,Na,Na,Na,Na,Na
6,US500,0.01000,0.010000,0.010000,Na,-0.97,0.26,Na,Na,Na,Na,Na
7,XTIUSD,0.01000,0.010000,0.010000,Na,-0.99,-0.12,Na,Na,Na,Na,Na
8,XAUUSD,0.01000,1.000000,1.000000,Na,-32.64,20.90,Na,Na,Na,Na,Na
9,XAGUSD,0.00100,5.000000,5.000000,Na,-4.49,2.62,Na,Na,Na,Na,Na

In [76]:
(100 - 101) * (1/0.01) * 0.01

-1.0

In [77]:
pip.to_csv('PipValue.csv', index=False)

In [8]:
dt = mt5.symbol_info("AAPL")._asdict()
pd.DataFrame.from_dict(dt, orient='index').to_csv('ss2.csv')

In [83]:
dt

SymbolInfo(custom=False, chart_mode=0, select=True, visible=True, session_deals=0, session_buy_orders=0, session_sell_orders=0, volume=0, volumehigh=0, volumelow=0, time=1707391481, digits=3, spread=8, spread_float=True, ticks_bookdepth=0, trade_calc_mode=0, trade_mode=4, start_time=0, expiration_time=0, trade_stops_level=0, trade_freeze_level=0, trade_exemode=2, swap_mode=1, swap_rollover3days=3, margin_hedged_use_leg=False, expiration_mode=15, filling_mode=2, order_mode=127, order_gtc_mode=0, option_mode=0, option_right=0, bid=22.317, bidhigh=22.377, bidlow=22.159, ask=22.325, askhigh=22.387, asklow=22.183, last=0.0, lasthigh=0.0, lastlow=0.0, volume_real=0.0, volumehigh_real=0.0, volumelow_real=0.0, option_strike=0.0, point=0.001, trade_tick_value=5.0, trade_tick_value_profit=5.0, trade_tick_value_loss=5.0, trade_tick_size=0.001, trade_contract_size=5000.0, trade_accrued_interest=0.0, trade_face_value=0.0, trade_liquidity_rate=0.0, volume_min=0.01, volume_max=100.0, volume_step=0.01, volume_limit=0.0, swap_long=-4.49, swap_short=2.62, margin_initial=0.0, margin_maintenance=0.0, session_volume=0.0, session_turnover=0.0, session_interest=0.0, session_buy_orders_volume=0.0, session_sell_orders_volume=0.0, session_open=22.186, session_close=22.198, session_aw=0.0, session_price_settlement=0.0, session_price_limit_min=0.0, session_price_limit_max=0.0, margin_hedged=0.0, price_change=0.5361, price_volatility=0.0, price_theoretical=0.0, price_greeks_delta=0.0, price_greeks_theta=0.0, price_greeks_gamma=0.0, price_greeks_vega=0.0, price_greeks_rho=0.0, price_greeks_omega=0.0, price_sensitivity=0.0, basis='', category='', currency_base='XAG', currency_profit='USD', currency_margin='XAG', bank='Tickmill', description='Silver vs US Dollar ', exchange='', formula='', isin='', name='XAGUSD', page='', path='Forex\\XAGUSD')

In [97]:
dt.keys()

dict_keys(['custom', 'chart_mode', 'select', 'visible', 'session_deals', 'session_buy_orders', 'session_sell_orders', 'volume', 'volumehigh', 'volumelow', 'time', 'digits', 'spread', 'spread_float', 'ticks_bookdepth', 'trade_calc_mode', 'trade_mode', 'start_time', 'expiration_time', 'trade_stops_level', 'trade_freeze_level', 'trade_exemode', 'swap_mode', 'swap_rollover3days', 'margin_hedged_use_leg', 'expiration_mode', 'filling_mode', 'order_mode', 'order_gtc_mode', 'option_mode', 'option_right', 'bid', 'bidhigh', 'bidlow', 'ask', 'askhigh', 'asklow', 'last', 'lasthigh', 'lastlow', 'volume_real', 'volumehigh_real', 'volumelow_real', 'option_strike', 'point', 'trade_tick_value', 'trade_tick_value_profit', 'trade_tick_value_loss', 'trade_tick_size', 'trade_contract_size', 'trade_accrued_interest', 'trade_face_value', 'trade_liquidity_rate', 'volume_min', 'volume_max', 'volume_step', 'volume_limit', 'swap_long', 'swap_short', 'margin_initial', 'margin_maintenance', 'session_volume', 'session_turnover', 'session_interest', 'session_buy_orders_volume', 'session_sell_orders_volume', 'session_open', 'session_close', 'session_aw', 'session_price_settlement', 'session_price_limit_min', 'session_price_limit_max', 'margin_hedged', 'price_change', 'price_volatility', 'price_theoretical', 'price_greeks_delta', 'price_greeks_theta', 'price_greeks_gamma', 'price_greeks_vega', 'price_greeks_rho', 'price_greeks_omega', 'price_sensitivity', 'basis', 'category', 'currency_base', 'currency_profit', 'currency_margin', 'bank', 'description', 'exchange', 'formula', 'isin', 'name', 'page', 'path'])

In [98]:
dt

{'custom': False,
 'chart_mode': 0,
 'select': True,
 'visible': True,
 'session_deals': 0,
 'session_buy_orders': 0,
 'session_sell_orders': 0,
 'volume': 0,
 'volumehigh': 0,
 'volumelow': 0,
 'time': 1707392884,
 'digits': 2,
 'spread': 210,
 'spread_float': True,
 'ticks_bookdepth': 0,
 'trade_calc_mode': 3,
 'trade_mode': 4,
 'start_time': 0,
 'expiration_time': 0,
 'trade_stops_level': 0,
 'trade_freeze_level': 0,
 'trade_exemode': 2,
 'swap_mode': 3,
 'swap_rollover3days': 5,
 'margin_hedged_use_leg': False,
 'expiration_mode': 15,
 'filling_mode': 2,
 'order_mode': 127,
 'order_gtc_mode': 0,
 'option_mode': 0,
 'option_right': 0,
 'bid': 38671.45,
 'bidhigh': 38709.95,
 'bidlow': 38650.95,
 'ask': 38673.55,
 'askhigh': 38712.05,
 'asklow': 38653.05,
 'last': 0.0,
 'lasthigh': 0.0,
 'lastlow': 0.0,
 'volume_real': 0.0,
 'volumehigh_real': 0.0,
 'volumelow_real': 0.0,
 'option_strike': 0.0,
 'point': 0.01,
 'trade_tick_value': 0.01,
 'trade_tick_value_profit': 0.01,
 'trade_tick_value_loss': 0.01,
 'trade_tick_size': 0.01,
 'trade_contract_size': 1.0,
 'trade_accrued_interest': 0.0,
 'trade_face_value': 0.0,
 'trade_liquidity_rate': 0.0,
 'volume_min': 0.01,
 'volume_max': 100.0,
 'volume_step': 0.01,
 'volume_limit': 0.0,
 'swap_long': -7.6899999999999995,
 'swap_short': 2.15,
 'margin_initial': 0.0,
 'margin_maintenance': 0.0,
 'session_volume': 0.0,
 'session_turnover': 0.0,
 'session_interest': 0.0,
 'session_buy_orders_volume': 0.0,
 'session_sell_orders_volume': 0.0,
 'session_open': 38692.97,
 'session_close': 38683.39,
 'session_aw': 0.0,
 'session_price_settlement': 0.0,
 'session_price_limit_min': 0.0,
 'session_price_limit_max': 0.0,
 'margin_hedged': 0.0,
 'price_change': -0.0309,
 'price_volatility': 0.0,
 'price_theoretical': 0.0,
 'price_greeks_delta': 0.0,
 'price_greeks_theta': 0.0,
 'price_greeks_gamma': 0.0,
 'price_greeks_vega': 0.0,
 'price_greeks_rho': 0.0,
 'price_greeks_omega': 0.0,
 'price_sensitivity': 0.0,
 'basis': '',
 'category': '',
 'currency_base': 'USD',
 'currency_profit': 'USD',
 'currency_margin': 'USD',
 'bank': 'Tickmill',
 'description': 'US Wall Street 30 Index',
 'exchange': '',
 'formula': '',
 'isin': '',
 'name': 'US30',
 'page': '',
 'path': 'CFD-2\\US30'}

In [99]:
dt

{'custom': False,
 'chart_mode': 0,
 'select': True,
 'visible': True,
 'session_deals': 0,
 'session_buy_orders': 0,
 'session_sell_orders': 0,
 'volume': 0,
 'volumehigh': 0,
 'volumelow': 0,
 'time': 1707392884,
 'digits': 2,
 'spread': 210,
 'spread_float': True,
 'ticks_bookdepth': 0,
 'trade_calc_mode': 3,
 'trade_mode': 4,
 'start_time': 0,
 'expiration_time': 0,
 'trade_stops_level': 0,
 'trade_freeze_level': 0,
 'trade_exemode': 2,
 'swap_mode': 3,
 'swap_rollover3days': 5,
 'margin_hedged_use_leg': False,
 'expiration_mode': 15,
 'filling_mode': 2,
 'order_mode': 127,
 'order_gtc_mode': 0,
 'option_mode': 0,
 'option_right': 0,
 'bid': 38671.45,
 'bidhigh': 38709.95,
 'bidlow': 38650.95,
 'ask': 38673.55,
 'askhigh': 38712.05,
 'asklow': 38653.05,
 'last': 0.0,
 'lasthigh': 0.0,
 'lastlow': 0.0,
 'volume_real': 0.0,
 'volumehigh_real': 0.0,
 'volumelow_real': 0.0,
 'option_strike': 0.0,
 'point': 0.01,
 'trade_tick_value': 0.01,
 'trade_tick_value_profit': 0.01,
 'trade_tick_value_loss': 0.01,
 'trade_tick_size': 0.01,
 'trade_contract_size': 1.0,
 'trade_accrued_interest': 0.0,
 'trade_face_value': 0.0,
 'trade_liquidity_rate': 0.0,
 'volume_min': 0.01,
 'volume_max': 100.0,
 'volume_step': 0.01,
 'volume_limit': 0.0,
 'swap_long': -7.6899999999999995,
 'swap_short': 2.15,
 'margin_initial': 0.0,
 'margin_maintenance': 0.0,
 'session_volume': 0.0,
 'session_turnover': 0.0,
 'session_interest': 0.0,
 'session_buy_orders_volume': 0.0,
 'session_sell_orders_volume': 0.0,
 'session_open': 38692.97,
 'session_close': 38683.39,
 'session_aw': 0.0,
 'session_price_settlement': 0.0,
 'session_price_limit_min': 0.0,
 'session_price_limit_max': 0.0,
 'margin_hedged': 0.0,
 'price_change': -0.0309,
 'price_volatility': 0.0,
 'price_theoretical': 0.0,
 'price_greeks_delta': 0.0,
 'price_greeks_theta': 0.0,
 'price_greeks_gamma': 0.0,
 'price_greeks_vega': 0.0,
 'price_greeks_rho': 0.0,
 'price_greeks_omega': 0.0,
 'price_sensitivity': 0.0,
 'basis': '',
 'category': '',
 'currency_base': 'USD',
 'currency_profit': 'USD',
 'currency_margin': 'USD',
 'bank': 'Tickmill',
 'description': 'US Wall Street 30 Index',
 'exchange': '',
 'formula': '',
 'isin': '',
 'name': 'US30',
 'page': '',
 'path': 'CFD-2\\US30'}

In [103]:
round(1/dt['point'])

100000

In [2]:
round(44.6)

45

In [41]:
from skpy import Skype



user = 'sourav@purealphaventures.com'
pwd = 'Inno1691@1'
skype_connect = Skype(user, pwd)




# Function to send Skype Notification
def SendSkypeNotification(message , skype_connect):
    try:
        algo_trading_group = skype_connect.chats["19:10ccdc3f3fe74107b0bab4c9994f892a@thread.skype"]
        algo_trading_group.sendMsg(message)
        
    except Exception as e:
        print(e)
        user = 'sourav@purealphaventures.com'
        pwd = 'Inno1691@1'
        skype_connect = Skype(user, pwd)
        algo_trading_group =skype_connect.chats["19:10ccdc3f3fe74107b0bab4c9994f892a@thread.skype"]
        algo_trading_group.sendMsg(message)

In [42]:
SendSkypeNotification('testing' , skype_connect)

In [29]:
for chat in skype_connect.chats.recent():
    print(chat)
    print('\n\n')

19:c2876eeed88142248570b261fac02e5f@thread.skype



19:e6e97b23560f4487be4743dffc61b1d9@thread.skype



19:10ccdc3f3fe74107b0bab4c9994f892a@thread.skype



8:live:.cid.f59dd9d4322c9a90



8:live:9a933c63ebfd69ec



8:live:.cid.d1d24d1b59763a99



19:7390a380be864a62a561f75769b10a1e@thread.skype



8:live:chayaswaroop007



8:live:.cid.ad77955e3a3d2f74



19:af8462253b254e09ba764d1d1377b070@thread.skype