In [2]:
import pandas as pd
df_open_signal = pd.DataFrame(columns = ['ActiveChoice'])

In [3]:
df_open_signal

Empty DataFrame
Columns: [ActiveChoice]
Index: []

In [6]:
df_open_signal.loc[0] = [1]

In [7]:
df_open_signal

   ActiveChoice
0             1

In [13]:
df_open_signal

   ActiveChoice
0             1

In [14]:
df_open_signal[df_open_signal.ActiveChoice!= 1]

Empty DataFrame
Columns: [ActiveChoice]
Index: []

In [1]:
A = [[1,0,-7], 
     [0,0,-8] , 
     [0,0,9]]

In [8]:
cond = True
for i in range(len(A)):
    for j in range(len(A[i])):
        print(i,j)
        if j >= i:
            continue
        
        if A[i][j] != 0:
            cond = False
            
    print('\n')

0 0
0 1
0 2


1 0
1 1
1 2


2 0
2 1
2 2

In [7]:
cond

True

In [13]:
a = [1,2,3]

In [14]:
a.extend([1,2,3])

In [15]:
a

[1, 2, 3, 1, 2, 3]