In [1]:
import pandas as pd
df_open_signal = pd.DataFrame(columns = ['ActiveChoice'])

In [2]:
df_open_signal

Empty DataFrame
Columns: [ActiveChoice]
Index: []

In [6]:
df_open_signal.loc[0] = [1]

In [7]:
df_open_signal

   ActiveChoice
0             1

In [13]:
df_open_signal

   ActiveChoice
0             1

In [14]:
df_open_signal[df_open_signal.ActiveChoice!= 1]

Empty DataFrame
Columns: [ActiveChoice]
Index: []

In [1]:
A = [[1,0,-7], 
     [0,0,-8] , 
     [0,0,9]]

In [8]:
cond = True
for i in range(len(A)):
    for j in range(len(A[i])):
        print(i,j)
        if j >= i:
            continue
        
        if A[i][j] != 0:
            cond = False
            
    print('\n')

0 0
0 1
0 2


1 0
1 1
1 2


2 0
2 1
2 2

In [7]:
cond

True

In [13]:
a = [1,2,3]

In [14]:
a.extend([1,2,3])

In [15]:
a

[1, 2, 3, 1, 2, 3]

In [11]:
import MetaTrader5 as mt5
login = 25088141
password = 'N3W*f%Ts??kF'
server = 'Tickmill-Demo'
path = r'C:\Program Files\MetaTrader 5\terminal64.exe'
mt5.initialize( login = login , password = password, server = server)

True

In [5]:
def market_order(symbol, volume, order_type,comment,magic, **kwargs):
    tick = mt5.symbol_info_tick(symbol)
    order_dict = {'buy': 0, 'sell': 1}
    price_dict = {'buy': tick.ask, 'sell': tick.bid}

    request = {
        "action": mt5.TRADE_ACTION_DEAL,
        "symbol": symbol,
        "volume": volume,
        "type": order_dict[order_type],
        "price": price_dict[order_type],
        "deviation": 2,
        "magic": magic,
        "comment":comment,
        "type_time": mt5.ORDER_TIME_GTC,
        "type_filling": mt5.ORDER_FILLING_IOC,
    }

    order_result = mt5.order_send(request)

    return order_result

In [6]:
od = market_order('EURUSD',0.1 ,'buy' , 'sss',3001)

In [7]:
# function to close an order base don ticket id
def close_order(ticket):
    positions = mt5.positions_get()

    for pos in positions:
        tick = mt5.symbol_info_tick(pos.symbol)
        type_dict = {0: 1, 1: 0}  # 0 represents buy, 1 represents sell - inverting order_type to close the position
        price_dict = {0: tick.bid, 1: tick.ask}

        if pos.ticket == ticket:
            request = {
                "action": mt5.TRADE_ACTION_DEAL,
                "position": pos.ticket,
                "symbol": pos.symbol,
                "volume": pos.volume,
                "type": type_dict[pos.type],
                "price": price_dict[pos.type],
                "deviation": 2,
                
                
                "type_time": mt5.ORDER_TIME_GTC,
                "type_filling": mt5.ORDER_FILLING_IOC,
            }

            order_result = mt5.order_send(request)

            return order_result

    return 'Ticket does not exist'

In [10]:
close_order(od.order)

'Ticket does not exist'

In [9]:
od

OrderSendResult(retcode=10009, deal=26649761, order=33544054, volume=0.1, price=1.08438, bid=0.0, ask=0.0, comment='Request executed', request_id=3927976766, retcode_external=0, request=TradeRequest(action=1, magic=3001, order=0, symbol='EURUSD', volume=0.1, price=1.08438, stoplimit=0.0, sl=0.0, tp=0.0, deviation=2, type=0, type_filling=1, type_time=0, expiration=0, comment='sss', position=0, position_by=0))

In [35]:
from datetime import datetime , timedelta
datetime.fromtimestamp(mt5.symbol_info_tick('EURUSD').time)

datetime.datetime(2024, 1, 29, 17, 13, 23)

In [40]:
time1 = (datetime.fromtimestamp(mt5.symbol_info_tick('EURUSD').time) - timedelta(hours=5.5))

In [41]:
def get_gp(x):
    x = str(x)
    sumx = 0
    nos = []
    for i in x:
        nos.append(int(i))
    
    if sum(nos) = max(nos):
        return True
    else

datetime.datetime(2024, 1, 29, 11, 43, 43)

In [21]:
def get_solution(x,y,g):
    sum = 0
    for i in range(x,y+1):
        sum+=i
    return sum - (g)

In [24]:

def is_golden_price(num):
    num_str = str(num)
    digit_sum = sum(int(digit) for digit in num_str)
    highest_digit = max(int(digit) for digit in num_str)
    return digit_sum - highest_digit == highest_digit

def find_next_golden_price(starting_number):
    current_number = starting_number
    while True:
        if is_golden_price(current_number):
            return current_number
        else:
            current_number += 1

In [27]:
x = int(input())
y = int(input())
g = find_next_golden_price(x)
get_solution(x,y, g)

125

In [17]:
next_golden_price

11

In [1]:
import pandas as pd

In [4]:
td = pd.read_csv(r"C:\Users\soura\Downloads\td_kite.csv")

In [9]:
pnl = pd.read_excel(r"C:\Users\soura\Downloads\pnl_kite.xlsx")

In [28]:
pnl  = pnl[pnl.Symbol.str.find("BANKNIFTY") < 0].reset_index(drop=True)

In [23]:
td['trade_date'] = pd.to_datetime((td['trade_date']))

In [29]:
td = td[(td.trade_type == "buy") & (td.symbol.str.find("BANKNIFTY") < 0)].drop_duplicates(subset='symbol').sort_values(by='trade_date').reset_index(drop=True)

In [48]:
pnl

,Symbol,ISIN,Quantity,Buy Value,Sell Value,Realized P&L,Realized P&L Pct.,Previous Closing Price,Open Quantity,Open Quantity Type,Open Value,Unrealized P&L,Unrealized P&L Pct.
0,ABB23OCT4050PE,NaN,750,38250.0000,45750.0000,7500.0,19.6078,0.0,0,NaN,0,0,0.0
1,ABFRL23AUG215CE,NaN,2600,12480.0000,18200.0000,5720.0,45.8333,0.0,0,NaN,0,0,0.0
2,ADANIPORTS23NOV800CE,NaN,2400,50400.0000,56800.0008,6400.0,12.6984,0.0,0,NaN,0,0,0.0
3,AMBUJACEM23AUG510CE,NaN,59400,473760.0252,460439.9910,-13320.0,-2.8116,0.0,0,NaN,0,0,0.0
4,AMBUJACEM23JUL440CE,NaN,1800,9540.0000,10350.0000,810.0,8.4906,0.0,0,NaN,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,ULTRACEMCO23DEC9450CE,NaN,300,47400.0000,48810.0000,1410.0,2.9747,0.0,0,NaN,0,0,0.0
103,ULTRACEMCO23SEP8700CE,NaN,300,46395.0000,29400.0000,-16995.0,-36.6311,0.0,0,NaN,0,0,0.0
104,ULTRACEMCO24FEB9800PE,NaN,300,47400.0000,52284.9999,4885.0,10.3059,0.0,0,NaN,0,0,0.0
105,UPL23SEP650CE,NaN,3900,26130.0000,5265.0000,-20865.0,-79.8507,0.0,0,NaN,0,0,0.0
106,WIPRO23OCT430CE,NaN,9000,60300.0000,33525.0000,-26775.0,-44.4030,0.0,0,NaN,0,0,0.0

In [44]:
td.columns = ["Symbol",'isin', 'trade_date', 'exchange', 'segment', 'series', 'trade_type',
       'auction', 'quantity', 'price', 'trade_id', 'order_id',
       'order_execution_time', 'expiry_date']

In [49]:
td

,Symbol,isin,trade_date,exchange,segment,series,trade_type,auction,quantity,price,trade_id,order_id,order_execution_time,expiry_date
0,BAJAJFINSV23JUL1660CE,NaN,2023-07-19,NSE,FO,NaN,buy,False,500.0,24.50,860649536,2000000141247036,2023-07-19T15:15:18,2023-07-27
1,GRASIM23JUL1840CE,NaN,2023-07-20,NSE,FO,NaN,buy,False,475.0,19.35,975766150,2500000116218309,2023-07-20T15:16:58,2023-07-27
2,GAIL23JUL125CE,NaN,2023-07-25,NSE,FO,NaN,buy,False,9150.0,0.10,975755247,2500000060153103,2023-07-25T12:11:18,2023-07-27
3,GAIL23AUG125CE,NaN,2023-07-25,NSE,FO,NaN,buy,False,9150.0,1.80,975756433,2500000060294312,2023-07-25T12:11:50,2023-08-31
4,AMBUJACEM23JUL440CE,NaN,2023-07-25,NSE,FO,NaN,buy,False,1800.0,5.30,976472528,2500000128953896,2023-07-25T15:21:04,2023-07-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,IGL24FEB430CE,NaN,2024-01-29,NSE,FO,NaN,buy,False,1375.0,13.45,929753589,2300000126336271,2024-01-29T15:16:53,2024-02-29
103,ULTRACEMCO24FEB9800PE,NaN,2024-01-30,NSE,FO,NaN,buy,False,300.0,158.00,929786014,2300000144568716,2024-01-30T15:20:31,2024-02-29
104,NAUKRI24FEB5300CE,NaN,2024-01-31,NSE,FO,NaN,buy,False,450.0,116.00,883653212,2100000151016437,2024-01-31T15:20:01,2024-02-29
105,HDFCLIFE24FEB600CE,NaN,2024-02-01,NSE,FO,NaN,buy,False,1100.0,12.20,952793105,2400000163907323,2024-02-01T15:28:40,2024-02-29
106,NTPC24FEB340CE,NaN,2024-02-02,NSE,FO,NaN,buy,False,9000.0,4.40,884003231,2100000174352046,2024-02-02T15:21:35,2024-02-29

In [52]:
ldf = pd.merge(td , pnl ,on="Symbol")

In [53]:
ldf.columns

Index(['Symbol', 'isin', 'trade_date', 'exchange', 'segment', 'series',
       'trade_type', 'auction', 'quantity', 'price', 'trade_id', 'order_id',
       'order_execution_time', 'expiry_date', 'ISIN', 'Quantity', 'Buy Value',
       'Sell Value', 'Realized P&L', 'Realized P&L Pct.',
       'Previous Closing Price', 'Open Quantity', 'Open Quantity Type',
       'Open Value', 'Unrealized P&L', 'Unrealized P&L Pct.'],
      dtype='object')

In [54]:
ldf

,Symbol,isin,trade_date,exchange,segment,series,trade_type,auction,quantity,price,...,Buy Value,Sell Value,Realized P&L,Realized P&L Pct.,Previous Closing Price,Open Quantity,Open Quantity Type,Open Value,Unrealized P&L,Unrealized P&L Pct.
0,BAJAJFINSV23JUL1660CE,NaN,2023-07-19,NSE,FO,NaN,buy,False,500.0,24.50,...,12250.0000,14000.0000,1750.00,14.2857,0.00,0,NaN,0,0,0.0000
1,GRASIM23JUL1840CE,NaN,2023-07-20,NSE,FO,NaN,buy,False,475.0,19.35,...,9191.2500,2968.7500,-6222.50,-67.7003,0.00,0,NaN,0,0,0.0000
2,GAIL23JUL125CE,NaN,2023-07-25,NSE,FO,NaN,buy,False,9150.0,0.10,...,915.0000,457.5000,-457.50,-50.0000,0.00,0,NaN,0,0,0.0000
3,GAIL23AUG125CE,NaN,2023-07-25,NSE,FO,NaN,buy,False,9150.0,1.80,...,16470.0000,17385.0000,915.00,5.5556,0.00,0,NaN,0,0,0.0000
4,AMBUJACEM23JUL440CE,NaN,2023-07-25,NSE,FO,NaN,buy,False,1800.0,5.30,...,9540.0000,10350.0000,810.00,8.4906,0.00,0,NaN,0,0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,IGL24FEB430CE,NaN,2024-01-29,NSE,FO,NaN,buy,False,1375.0,13.45,...,55618.7486,70537.5000,14918.75,26.8232,0.00,0,NaN,0,0,0.0000
103,ULTRACEMCO24FEB9800PE,NaN,2024-01-30,NSE,FO,NaN,buy,False,300.0,158.00,...,47400.0000,52284.9999,4885.00,10.3059,0.00,0,NaN,0,0,0.0000
104,NAUKRI24FEB5300CE,NaN,2024-01-31,NSE,FO,NaN,buy,False,450.0,116.00,...,52200.0000,71782.5002,19582.50,37.5144,0.00,0,NaN,0,0,0.0000
105,HDFCLIFE24FEB600CE,NaN,2024-02-01,NSE,FO,NaN,buy,False,1100.0,12.20,...,0.0000,0.0000,0.00,0.0000,8.90,3300,buy,40260,-10890,-27.0492
106,NTPC24FEB340CE,NaN,2024-02-02,NSE,FO,NaN,buy,False,9000.0,4.40,...,0.0000,0.0000,0.00,0.0000,4.45,9000,buy,39600,450,1.1364

In [58]:
ldf2 = ldf[['trade_date' , 'Symbol' , "Realized P&L"]].copy()

In [63]:
ldf2  = ldf2[ldf["Realized P&L"] != 0]

In [87]:
ldf2 = ldf2[ldf2.Symbol.str.find('DELTA')<0]

In [97]:
from datetime import datetime

def get_week_of_month(date_string):
    # Convert the date string to a datetime object
    date_object = date_string

    # Calculate the week number within the month
    first_day_of_month = datetime(date_object.year, date_object.month, 1)
    days_in_first_week = (8 - first_day_of_month.weekday()) % 7
    week_number = (date_object.day + days_in_first_week - 1) // 7 + 1

    return week_number

In [98]:
ldf2['WeekDay'] = ldf2['trade_date'].dt.weekday
ldf2['WeekNo'] = ldf2['trade_date'].apply(get_week_of_month)

C:\Users\soura\AppData\Local\Temp\ipykernel_32612\908758235.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ldf2['WeekDay'] = ldf2['trade_date'].dt.weekday
C:\Users\soura\AppData\Local\Temp\ipykernel_32612\908758235.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ldf2['WeekNo'] = ldf2['trade_date'].apply(get_week_of_month)

In [105]:
print(ldf2[ldf2.WeekDay == 4].groupby(by="WeekNo").mean()['Realized P&L'])
print(ldf2[ldf2.WeekDay == 4].groupby(by="WeekNo").count()['trade_date'])

WeekNo
1    2437.500000
2    7263.333333
3   -6523.250000
4    2844.166667
5    3716.000000
Name: Realized P&L, dtype: float64
WeekNo
1    2
2    3
3    5
4    3
5    5
Name: trade_date, dtype: int64

C:\Users\soura\AppData\Local\Temp\ipykernel_32612\843289565.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(ldf2[ldf2.WeekDay == 4].groupby(by="WeekNo").mean()['Realized P&L'])

In [106]:
print(ldf2.groupby(by="WeekNo").mean()['Realized P&L'])
print(ldf2.groupby(by="WeekNo").count()['trade_date'])

WeekNo
1    -4433.636364
2      733.656818
3    -2624.262963
4     2372.380952
5     4984.762500
6    11300.000000
Name: Realized P&L, dtype: float64
WeekNo
1    11
2    22
3    27
4    21
5    20
6     1
Name: trade_date, dtype: int64

C:\Users\soura\AppData\Local\Temp\ipykernel_32612\842618130.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(ldf2.groupby(by="WeekNo").mean()['Realized P&L'])

In [110]:
print(ldf2.groupby(by="WeekDay").mean()['Realized P&L'])
print(ldf2.groupby(by="WeekDay").count()['trade_date'])

WeekDay
0    -795.937500
1   -1623.114583
2    2638.691304
3     959.418000
4    1175.625000
Name: Realized P&L, dtype: float64
WeekDay
0    12
1    24
2    23
3    25
4    18
Name: trade_date, dtype: int64

C:\Users\soura\AppData\Local\Temp\ipykernel_32612\2434914780.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(ldf2.groupby(by="WeekDay").mean()['Realized P&L'])

In [90]:
ldf2.groupby(by="WeekDay").count()

         trade_date  Symbol  Realized P&L  WeekNo
WeekDay
0                12      12            12      12
1                24      24            24      24
2                23      23            23      23
3                25      25            25      25
4                18      18            18      18

In [80]:
ldf2

    trade_date                 Symbol  Realized P&L  WeekDay  WeekNo
0   2023-07-19  BAJAJFINSV23JUL1660CE       1750.00        2       3
1   2023-07-20      GRASIM23JUL1840CE      -6222.50        3       3
2   2023-07-25         GAIL23JUL125CE       -457.50        1       4
3   2023-07-25         GAIL23AUG125CE        915.00        1       4
4   2023-07-25    AMBUJACEM23JUL440CE        810.00        1       4
..         ...                    ...           ...      ...     ...
100 2024-01-23  BAJFINANCE24FEB6800PE       1512.50        1       4
101 2024-01-25     JUBLFOOD24FEB490PE       1750.00        3       4
102 2024-01-29          IGL24FEB430CE      14918.75        0       5
103 2024-01-30  ULTRACEMCO24FEB9800PE       4885.00        1       5
104 2024-01-31      NAUKRI24FEB5300CE      19582.50        2       5

[103 rows x 5 columns]

In [91]:
ldf2['Realized P&L'].sum()

57330.59999999999